# Purpose:
#
#   This requirements file list public Python packages that are mandatory
#   runtime dependencies.

#######################
# Input formats       #
#######################

toml
ujson
pyyaml

#######################
# Core functionality  #
#######################

jinja2>=2.11
inflection
setuptools

#######################
# Utilities           #
#######################

colorlog
pprintpp
setproctitle
